html { background: #EFEFEF url(assets/symphony.png); font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; font-size: 16px; min-width: 600px; }
#app { bottom: 0; left: 0; min-width: 600px; position: absolute; right: 0; top: 0; }

/* Login */
#loginScreen { background: #FFF; border: 1px solid #E2E2E2; border-radius: 5px; height: 200px; left: 50%; margin: -100px 0 0 -200px; position: absolute; text-align: center; top: 50%; width: 400px; }
#loginScreen h1 { display: block; padding-top: 20px; }

/* User list */
#chatScreen { bottom: 0; left: 0; position: absolute; right: 0; top: 0; }
#chatScreen #userList { background: #FFF; border: 1px solid #E2E2E2; border-radius: 5px; bottom: 10px; position: absolute; right: 10px; top: 10px; width: 190px; }
#chatScreen #userList #users { bottom: 0; left: 0; padding: 40px 10px 10px 10px; position: absolute; right: 0; top: 0; }
  .user { overflow: hidden; padding-bottom: 10px; }
  .user .userStatusIcon { float: right; padding-top: 2px; }

/* Read messages */
#chatScreen #mainPanel { bottom: 0; left: 0; position: absolute; right: 200px; top: 0; }
#chatScreen #mainPanel #conversation { background: #FFF; border: 1px solid #E2E2E2; border-radius: 5px; bottom: 120px; left: 10px; position: absolute; right: 10px; top: 10px; }
#chatScreen #mainPanel #conversation #conversationMessages { bottom: 2px; left: 0; overflow-y: scroll; padding: 10px; position: absolute; right: 0; top: 32px; }
  .message { display: block; padding-top: 10px; overflow: hidden; }
  .message.running { padding-top: 2px; }
  .message .messageAuthor { background: url(assets/userIcon.png) no-repeat left 1px; clear: both; color: #C8D1D5; float: left; font-size: 12px; height: 20px; padding-left: 20px; }
  .message .messageAuthor.hidden { display: none; }
  .message .messageContents { background: #EDF1F3; border-top: 1px solid #DDE3E6; border-radius: 0 15px 15px 15px; clear: both; display: block; float: left; max-width: 60%; padding: 6px 15px; }
  .message .messageTimestamp { clear: both; display: none; float: left; }
  .message.server .messageAuthor { display: none; }
  .message.server .messageContents { background: none; border: 0; color: #BBB; float: none; font-size: 12px; font-style: italic; font-weight: bold; max-width: 100%; text-align: center; width: 100%; }
  .message.self .messageAuthor { background: url(assets/userIcon.png) no-repeat right 1px; color: #C8D1D5; float: right; padding-right: 20px; }
  .message.self .messageContents { background: #14ABEF; border-top: 1px solid #119AD8; border-radius: 15px 0 15px 15px; color: #F7FDFF; float: right; text-shadow: 1px 1px 0 #119AD8; }

/* Submit message */
#chatScreen #mainPanel #messageForm { background: #FFF; border: 1px solid #E2E2E2; border-radius: 5px; bottom: 10px; height: 100px; left: 10px; position: absolute; right: 10px; }
#chatScreen #mainPanel #messageForm #messageBox { bottom: 0; left: 0; position: absolute; right: 130px; top: 0; }
#chatScreen #mainPanel #messageForm #messageBox textarea { background: none; border: 0; color: #888; font-family: Georgia; font-size: 16px; font-style: italic; height: 80px; margin: 0; padding: 10px; resize: none; width: 100%; }
#chatScreen #mainPanel #messageForm #sendMessageButton { background: #FCFCFC; border-left: 1px solid #E2E2E2; border-radius: 0 4px 4px 0; bottom: 0; color: #888; display: block; line-height: 100px; position: absolute; right: 0; text-align: center; top: 0; width: 100px; }

/* Headers */
#chatScreen #userList h2,
#chatScreen #mainPanel #conversation h2 { background: #65D6FF url(assets/titlebar.png); border-radius: 4px 4px 0 0; color: #FFF; display: block; font-size: 16px; font-weight: bold; height: 30px; left: 0; line-height: 30px; margin: 0; padding: 0 10px; position: absolute; right: 0; text-shadow: -1px -1px 0px #4DB1E2; top: 0; }
